{% extends 'base.html.twig' %}

{% block body %}
    <h1>Click list</h1>

    <table class="table striped-table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Link ID</th>
                <th>IP</th>
                <th>Referring Url</th>
                <th>Created On</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for click in clicks %}
            <tr>
                <td><a href="{{ path('clicks_show', { 'id': click.id }) }}">{{ click.id }}</a></td>
                <td>{{ click.link.name }}</td>
                <td>{{ click.link.id }}</td>
                <td>{{ click.ip }}</td>
                <td>{% if click.referringUrl %}{{ click.referringUrl|join(', ') }}{% endif %}</td>
                <td>{% if click.createTs %}{{ click.createTs|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="btn btn-small btn-warning" href="{{ path('link.edit', { 'id': click.link.id }) }}">Edit Link</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
