{% extends 'base.html.twig' %}

{% block body %}
    <h1>Click</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ click.id }}</td>
            </tr>
            <tr>
                <th>Creatests</th>
                <td>{% if click.createsTs %}{{ click.createsTs|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Request</th>
                <td>{% if click.request %}{{ click.request|join(', ') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Ip</th>
                <td>{{ click.ip }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('clicks_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('clicks_edit', { 'id': click.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
