{% extends 'base.html.twig' %}
{% block title %}Add a link{% endblock %}
{% block body %}
    <div class="page-header">
        <div class="row">
            <div class="col-md-11">
                <h1>Add New Link</h1>
            </div>
            <div class="col-md-1 text-right">
                <a class="btn btn-default" href="/">Back</a>
            </div>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}