{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <div class="row">
            <div class="col-md-11">
                <h1>All Links</h1>
            </div>
            <div class="col-md-1 text-right">
                <a class="btn btn-success text-" href="/link/add">Add Link</a>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Destination</th>
                <th>Impressions</th>
                <th>Clicks</th>
                <th>Tracking Link</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for lnk in links %}
            {% set link = lnk['data']  %}
                <tr>
                    <td>{{ link.id }}</td>
                    <td>{{ link.name }}</td>
                    <td>{{ link.destination }}</td>
                    <td>{{ lnk['stats'].impressions }}</td>
                    <td>{{ lnk['stats'].clicks }}</td>
                    <td>
                        <a href="http://codetest.dev/click?linkId={{ link.id }}" target="_blank">
                        <pre>http://codetest.dev/click?linkId={{ link.id }}</pre>
                        </a>
                    </td>
                    <td>
                        <a class="btn btn-small btn-warning" href="/link/edit/{{ link.id }}">
                            Edit
                        </a>
                        <a class="btn btn-small btn-primary" href="/impression?link={{ link.id }}">
                            Simulate Impression
                        </a>
                        <a class="btn btn-small btn-info" href="/click?link={{ link.id }}">
                            Simulate Clicks
                        </a>
                        <a class="btn btn-small  btn-danger" href="/link/delete/{{ link.id }}">
                            Delete
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>

    </table>
{% endblock %}