{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Impressions</h1>
    </div>
    <table class="table striped-table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Link</th>
            <th>Link ID</th>
            <th>IP</th>
            <th>Referring Url</th>
            <th>Created On</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for impression in impressions %}
            <tr>
                <td>{{ impression.id }}</td>
                <td>{{ impression.link.name }}</td>
                <td>{{ impression.link.id }}</td>
                <td>{{ impression.ip }}</td>
                <td>{{ impression.referringUrl }}</td>
                <td>{% if impression.createTs %}{{ impression.createTs|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('link.edit', { 'id': impression.link.id }) }}">Edit Link</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endblock %}