{% extends 'base.html.twig' %}

{% block body %}

    <div class="page-header">
        <h1>Statistics</h1>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Impressions</th>
            <th>Clicks</th>
            <th>Link</th>
            <th>Link ID</th>
            <th>Created On</th>
            <th>Last Updated</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for stat in stats %}
            <tr>
                <td>{{ stat.id }}</td>
                <td>{{ stat.impressions }}</td>
                <td>{{ stat.clicks }}</td>
                <td>{{ stat.link.name}}</td>
                <td>{{ stat.link.id}}</td>
                <td>{% if stat.createTs %}{{ stat.createTs|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if stat.updatedTs %}{{ stat.updatedTs|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <a class="btn btn-warning" href="/link/edit/{{ stat.id }}">
                        Edit Link
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}